<div class="container">
    <div class="page-header">
        <center><h1>Montréal-Nous tes bons plans sur Montréal et ses alentours !</h1></center>
        <center><p class="lead">Afin de réunir en un seul et même endroit tous nos bons plans. Dans un soucis de clarté et de simplicité, nous avons souhaité
            organiser tout cela sur cette page web qui va nous permettre, à nous comme à vous, d'explorer les coins sympas et les meilleures places de Montréal ! Bonne découverte !</p></center>
        <center><p><a class="btn btn-xs btn-default" href="http://montrealnous.blogspot.ca" role="button">Revenir au Blog</a></p></center>
    </div>

    <div id="badgeCount" class="row">
        <div class="col-xs-8 col-sm-5 col-md-4 col-lg-4">
            <span id="badgeCount" class="badge">{{nbLieux}}</span> Itineraires et <span class="badge">{{nbIti}}</span> Lieux    
        </div>
        <div class="col-xs-4 col-sm-7 col-md-8 col-lg-8">
            <span class="alert-info">Cliquez sur un item pour avoir des infos supplémentaires</span>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <leaflet id="map_canvas" center="center" defaults="defaults" event-broadcast="events" geojson="lieux" tiles='tiles'></leaflet>
            <div class="row">
                <div class="container col-lg-12">
                    <div class="btn-group btn-group-justified" id='btnLayer' data-toggle="buttons">
                        <label id="osm" class="btn btn-primary active" ng-click="setBaseLayer('osm')">
                            <input type="radio" name="options"></input>
                                OpenstreetMap
                        </label>
                        <label id="cycle" class="btn btn-primary" ng-click="setBaseLayer('cycle')">
                            <input type="radio" name="options" checked></input>
                                Vélo
                        </label>
                        <label id="tourist" class="btn btn-primary" ng-click="setBaseLayer('tourist')">
                            <input type="radio" name="options"></input>
                                Tourisme
                        </label>
                        <label id='toner' class="btn btn-primary" ng-click="setBaseLayer('toner')" ng-model="nb" ng-class="{active: nb}">
                            <input type="radio" name="options" ></input>
                                Noir et Blanc
                        </label>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="col-lg-4">
                <section id="sectionLieux" ng-repeat="place in filteredLieux = (lieux.data.features)" ng-class="{selected : place.selected}">
                    <div class="row">   
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">
                                    <div class="row">
                                        <div class="col-xs-7 col-sm-7 col-lg-6">
                                            <h4>{{place.properties.Nom}}</h4>
                                        </div>
                                    
                                        <div id="hearts" class="col-lg-5 col-lg-offset-1">
                                            <h5 ng-repeat="i in getNumber(place.properties.Note)" class="glyphicon glyphicon-heart"></h5>
                                            <h5 ng-class="{'first':$first}" ng-repeat="i in getNumber(5-place.properties.Note)" class="glyphicon glyphicon-heart-empty"></h5>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-xs-10 col-xs-offset-1 well well-sm">{{place.properties.Comm}}</div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1" id="panelComm" ng-show="isLieu(place.properties.Type)">
                                        <div class="panel panel-info">
                                          <div class="panel-heading">
                                            <h3 class="panel-title">Adresse</h3>
                                          </div>
                                          <div class="panel-body">
                                            {{place.properties.Adresse}}
                                          </div>
                                        </div> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="btn btn-default col-lg-3 col-lg-offset-4 col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-3 col-xs-offset-4">
                                        <a id="linkB" href="#/places/{{place.properties.id}}" class="glyphicon glyphicon-eye-open"><span> Détails</span></a>
                                        <!-- <input type="button" class="btn btn-default" name="options" value="Détails"></input> -->
                                    </div>
                                </div>
                              </div>
                              <div class="panel-footer" ng-show="isIti(place.properties.Type)">
                                <div class="row">
                                    <strong>   
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                                        <center>{{place.properties.NbJour==0 && ("à la journée") || (place.properties.NbJour + ' jours')}}</center>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <center>Durée {{place.properties.Duree}}</center>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                                        <center>Distance {{place.properties.Km}} Km</center>
                                    </div>
                                    </strong>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                                <ul class="ulNone">
                                  <li>
                                    <a href="Data/Photos/{{place.properties.Photo[0].URL}}">
                                        <img class="img-responsive img-thumbnail" alt="Responsive image" ng-src="Data/Photos/{{place.properties.Photo[0].URL}}">
                                    </a>
                                    <span><center>{{img.Legende}}</center></span> 
                                  </li>
                                </ul>  
                            </div>
                        </div>
                    </div> 
                </section>

<!--                 <section id="sectionIti" ng-repeat="place in filteredIti = (lieux.data.features | filter: isIti)" ng-class="{selected : place.selected}">
                    <div class="row">   
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <div class="panel-title">
                                    <div class="row">
                                        <div class="col-xs-7 col-sm-7 col-lg-9">
                                            <h4>{{place.properties.Nom}}</h4>
                                        </div>
                                        <div id="hearts" class="col-xs-5 col-sm-5 col-lg-3">
                                            <h5 ng-repeat="i in getNumber(place.properties.Note)" class="glyphicon glyphicon-heart"></h5>
                                            <h5 ng-class="{'first':$first}" ng-repeat="i in getNumber(5-place.properties.Note)" class="glyphicon glyphicon-heart-empty"></h5>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1 well well-sm">{{place.properties.Comm}}</div>
                                </div>
                              </div>
                              <div class="panel-footer">
                                <div class="row">
                                    <strong>   
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                                        <center>{{place.properties.NbJour==0 && ("à la journée") || (place.properties.NbJour + ' jours')}}</center>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <center>Durée {{place.properties.Duree}}</center>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                                        <center>Distance {{place.properties.Km}} Km</center>
                                    </div>
                                    </strong>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-xs-11 col-sm-4 col-md-4 col-lg-4">
                            <ul class="ulNone">
                              <li>
                                <a href="Data/Photos/{{place.properties.Photo[0].URL}}">
                                    <img class="img-responsive img-thumbnail" alt="Responsive image" ng-src="Data/Photos/{{place.properties.Photo[0].URL}}">
                                </a>
                                <span><center>{{img.Legende}}</center></span> 
                              </li>
                            </ul>  
                        </div>
                    </div> 
                </section> -->
        </div>
    </div>
</div>
